<% layout('layouts/boilerplate') %> 
<div class="container mb-3">
    <h1>Current Chore Assignments</h1>
</div>
<!-- TODO: turn assignments into check boxes with an update button to send the form -->
<div class="wrapper">
<table class="table table-responsive table-hover table-bordered text-white">
    <!-- <thead>
        <th scope="col">Name</th>
        <th scope="col">Assignments</th>
    </thead> -->
     
    <tbody>
        <% for (let i = 0; i < usersArray.length; i++) { %>
            <tr class="mb-3">
                    <td>
                        <%= usersArray[i].username %>
                    </td>
                    <td>
                        <%= usersArray[i].time.substring(0,15) %>
                    </td>
                    <td>
                        <%= usersArray[i].task %>
                    </td>
                    <td>
                        <form id="form" action="/users/<%= usersArray[i].user_id %>/tasks/<%= usersArray[i].task_id %>/assignments/<%= usersArray[i].assignment_id %>?_method=PATCH" method="POST">
                            <button class="btn btn-secondary cream-fill">Completed</button>
                        </form> 
                    </td>  
            </tr>
        <% } %> 
    </tbody>

</table>
</div>



    <!-- <div class="row">
        <div class="col-6 offset-3">
            <form action="/">
                <button class="btn yellow-hearth">Back to Home</button>
            </form>
        </div>
    </div> -->
    
    
    
    