<% layout('layouts/boilerplate') %> 
<div class="row mb-3">
    <div class="col-6 offset-3">
        <h1 class="display1"><%= user.username %> Details</h1>
        <h2 class="display2">choreScore: </h2>
        <h3 class="display3"><%= user.choreScore %> </h3>
        <h2 class="display2">Outstanding Assignments:</h2>
        <% if (user.assignedTasks.length > 0) { %> 
            <% for (task of user.assignedTasks) { %> 
                <button class="btn red-outline">
                    <a href="/tasks/<%= task._id %>"><%= task.title %></a>
                </button>
            <% } %>
        <% } else {%>
            <p>No Tasks Available</p>
        <% } %> 
    </div>
</div>
<div class="row mb-3">
    <div class="col-6 offset-3">
        <h2><label for="task">Assign a Task: </label></h2>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <% for (task of tasks) { %> 
                <option value="<%= task.title %>"><%= task.title %></option>
            <% } %> 
        </select>
    </div>
</div>
<form id="assignTask" action="/users/<%= user._id %>?_method=PATCH" method="POST">
    <button class="btn cream-fill mb-3">Submit</button>
</form>

<div class="row">
    <div class="col-6 offset-3">
        <h2>Email:</h2>
        <p><%= user.email %></p>
        <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
            <button class="btn cream-fill mb-3">Delete User</button>
        </form>
        <form action="/users">
            <button class="btn yellow-hearth">Back to users</button>
        </form>
    </div>
</div>



    
    
